---
import HeroImageDark from '../assets/images/dark/dark-01.png';
import HeroImageLight from '../assets/images/light/light-01.png';
import { BlogPost } from '@/components/layouts';
---

<BlogPost
	title="About Me"
	excerpt="A brief intro to miniyuan"
	author="miniyuan"
	pubDate={new Date('March 01 2026')}
	heroImageLight={HeroImageLight}
	heroImageDark={HeroImageDark}
>
	<p>
		自我介绍？我是一个什么样的人呢？容我再想想。。。
	</p>
</BlogPost>
