---
import { BaseHead, Header, Footer, ThemeProvider } from "../components/basic";
import { Hero, Education } from "../components/advanced";
import { siteConfig, heroConfig, educationConfig } from "../config";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={siteConfig.title} description={siteConfig.description} />
		<ThemeProvider />
	</head>
	<body>
		<Header />
		<main>
			<Hero {...heroConfig} />
			<Education items={educationConfig} />
		</main>
		<Footer />
	</body>
</html>
